

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Verdana", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}



}

.mainRow {
width: 935px;
margin: 100px auto;
display: block;
}

.column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 600px;
  display: flex;
}

.columnLeft {
  float: left;
  width: 600px;
  height: 600px;
}

.columnRight {
  float: left;
  width: 335px;
  padding: 10px;
  height: 600px;
  position: relative;
}



.icon {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 16px;
}

.heart {
  position: absolute;
  left: 15px;
}

.comment{
  position: absolute;
  left: 50px;
}

.share-square {
  position: absolute;
  left: 85px;
}
.bookmark {
  position: absolute;
  right: 18px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.wrap {
  display: flex;
}

.leftcomment {
  float: left;
  width: 15%;
  padding: 8px;
  position: relative;
}

.textcomment {
  float: left;
  width: 85%;
  padding: 8px;
  position: relative;
  font-size: 12px;
}

.leftimage {
  float: left;
  width: 15%;
  padding: 8px;
  position: relative;
}

.textusername {
  float: left;
  width: 85%;
  padding: 8px;
  position: relative;
  font-size: 12px;
}



.minute {
  font-size: 10px;
  color: grey;
  word-spacing: 5px;
}

.profile-image2 {
  border-radius: 50%;
  max-width: 32px;
  max-height: 32px;
  float: left;
  vertical-align: middle;
}

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}




.container {
    max-width: 935px;
    margin: 0 auto;
    padding: 0 2rem;
}

.profile {
    padding: 4rem 7rem;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
}

.profile-user,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 28px;
    font-weight: 300;
}


.profile-bio {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 2rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 0.5rem;
    color: #fff;
    cursor: pointer;
}


.gallery-image {
    width: 293px;
    height: 293px;
    object-fit: cover;
}



@media screen and (max-width: 960px) {

  .container {
      max-width: 65rem;
      margin: 0 auto;
      padding: 0 2rem;
  }

  .profile-bio {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 2.3rem;
      word-wrap: break-word;

  }
  .profile-user,
  .profile-bio {
      float: left;
      width: calc(50% - 2rem);
  }


@media screen and (max-width: 42rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 7rem;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user,
    .profile-bio {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 150px;
    }

    .profile-user {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 28px;
    }


    .profile-bio {
        display:none;
      }

      .columnRight {
        float: left;
        width: 40rem;
        height: 600rem;
        padding: 10px;
        position: relative;


      }
      .columnLeft {
        float: left;
        width: 40rem;
        height: 40rem;
        display: none;
      }

      .leftcomment {
        display:none;
      }

      .textcomment {
        display:none;
      }

      .image_container {
        width: 35rem;
        height: 35rem;
        margin-top:40px;
        padding: 10px;


      }
